@media screen and (max-width: 1157px) {
  .container {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  .benefits {
    display: none;
  }
  .header-container {
    flex-wrap: wrap;
  }
  .header-contact {
    flex-wrap: wrap;
  }
  .header-list {
    flex-wrap: wrap;
  }
  .header-logo {
    flex-wrap: wrap;
  }
  .visionstategy-icon {
    display: none;
  }

  .visionstrategy-list {
    flex-wrap: wrap;
  }
  .team-list {
    flex-wrap: wrap;
  }
  .customers-list {
    flex-wrap: wrap;
  }
  .footer-container {
    flex-wrap: wrap;
  }
  .footer-buton-subscribe-wrap {
    flex-wrap: wrap;
  }
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 428px;
  }
  .header-contact {
    display: none;
  }

  .header-list {
    display: none;
  }

  .visionhero {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .vision-titl {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    max-width: 320px;
  }
  .vision-btn {
    margin: 72px auto 0;
  }

  .visionstrategy-list {
    gap: 72px;
  }

  .visionstrategy-titl {
    text-align: center;
  }
  .team-item {
    max-width: 264px;
    margin-left: auto;
    margin-right: auto;
  }
  .team-list {
    gap: 72px;
  }

  .customers-list {
    gap: 72px 16px;
  }
  .customers-item {
    flex-basis: calc((100% - 16px) / 2);
  }
  .footer {
    padding: 96px 15px;
  }
  .footer-container {
    padding-left: 0;
    padding-right: 0;
    gap: 72px;
  }
  .footer-logo {
    max-width: 268px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-cocial {
    text-align: center;

    margin-left: auto;
    margin-right: auto;
  }
  .footer-subscribe {
    width: 100%;
    text-align: center;
  }
  .subscribe-input {
    width: 100%;
  }
  .footer-buton-subscribe-wrap {
    gap: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    max-width: 768px;
  }
  .mobile-menu-button {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header-container {
    position: relative;
  }

  .header-contact {
    flex-direction: column;
    gap: 12px;
    position: absolute;
    top: -50%;
    right: 16px;
  }
  .header-mail {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .visionstrategy-list{
    flex-wrap: nowrap;
    flex-basis: calc((100% - 24px) / 2)  ;
    
  }
}
@media screen and (min-width: 1157px) {
  .mobile-menu-button {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}
