@media screen and (max-width: 1185px) {   
    .container { max-width: 100%;
    padding-left: 16px;
    padding-right: 16px; }
    .benefits { display: none;}
    .header-container{ flex-wrap: wrap;}
    .header-contact{flex-wrap: wrap;   }
    .header-list{flex-wrap: wrap;
    }
    .header-logo{flex-wrap: wrap;}
.visionstrategy-list{flex-wrap: wrap;}
.team-list{flex-wrap: wrap;}
 .customers-list{flex-wrap: wrap;}
 .footer-container{flex-wrap: wrap;}
 .footer-buton-subscribe-wrap{flex-wrap: wrap;}
.section {
    padding-top: 96px;
    padding-bottom: 96px;
}


}



@media screen and ( max-width:767px) {.container {
        max-width: 428px;
    }
    .header-contact {
            display: none;
        }
    
        .header-list {
            display: none;
        }  
        .team-item{max-width: 264px;
        align-items: center;  
        justify-content: center;}

    .customers-list{gap: 72px 16px;}
    .customers-item{flex-basis: calc((100% - 16px) / 2)}



    }
@media  screen and (min-width:768px) {
    .container{max-width: 768px;}
    
}