*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-headings: #2e2f42;
  --button-background-color: #4d5ae5;
  --button-background-hover: #404bbf;
  --filter-btn-border: #f4f4fd;
  --color-logo-web: #4d5ae5;
  --color-logo-studio: #2e2f42;
  --color-headeritem: #2e2f42;
  --background-color-vision: #2e2f42;
  --color-text: #434455;
  --color-team-name: #ffffff;
  --color-text-footer: #f4f4fd;
  --color-card-border: #e7e9fc;
  --footer-logo-studio: #f4f4fd;
  --bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  --bg-color-social-icons: #4d5ae5;
  --bg-color-social-icons-hover: #404bbf;
  --bg-footer-social-icons-hover: #31d0aa;
  --customers-color-icon: #8e8f99;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  max-width: 1440px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #434455;
  background-color: #ffffff;
  margin: 0 auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/**-------------------Шаблони шрифтів-------------*/
/*стилі лого*/
.styles-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* заголовок рівня h3*/

.titl-h-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-headings, #2e2f42);
}

/*Описові тексти*/
.main-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text, #434455);
}

/**--------------HEADER(Top line)-------------*/
.header {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 23px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-logo-web {
  margin-right: 76px;
  color: var(--color-logo-web, #4d5ae5);
}

.header-logo-studio {
  color: var(--color-logo-studio, #2e2f42);
  margin: 0;
}

.header-address {
  margin-left: auto;
}

.header-contact {
  display: flex;
  gap: 40px;
}

.header-item {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-headeritem, #2e2f42);
  transition: color var(--transition);
}

.header-item:is(:hover, :focus) {
  color: var(--button-background-hover);
}

.activ-page {
  color: var(--bg-color-social-icons);
}

.activ-page::after {
  position: absolute;
  left: 0;
  bottom: -26px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color var(--transition);
}

.header-mail:is(:hover, :focus) {
  color: #404bbf;
}

/**----------------Hero images+секція1----------------*/
.vision {
  padding-bottom: 0;
}

.visionhero {
  background-color: var(--background-color-vision, #2e2f42);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: var(--bg-gradient), url(../images/hero-bg-optim.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.vision-titl {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;

  max-width: 496px;
  margin: auto;
}

.vision-btn {
  font-family: 'Roboto', sans-serif;
  display: block;
  padding: 16px 32px;
  margin: 48px auto 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 0.04em;
  background-color: var(--button-background-color, #4d5ae5);
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  transition: background-color var(--transition);
}

.vision-btn:is(:hover, :focus) {
  background-color: var(--button-background-hover, #404bbf);
}

.visionstrategy-list {
  display: flex;
  gap: 24px;
}

.visionstategy-icon {
  display: flex;
  background-color: #f4f4fd;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
}

.visionstrategy-item {
  flex-basis: calc((100% - 72px) / 4);
}

.visionstrategy-titl {
  margin-bottom: 8px;
}

/**----------------секція2------------- */

.benefits-titl {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-headings, #2e2f42);
}

.benefits-list {
  display: flex;
  gap: 24px;
  margin-top: 72px;
}

.benefits-item {
  border: 1px solid var(--color-card-border, #e7e9fc);
}

/**------------------секція3--------------*/

.team {
  background-color: #f4f4fd;
}

.team-titl {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-headings, #2e2f42);
  margin: auto;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  border: 1px solid var(--color-card-border, #e7e9fc);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-team-name {
  background-color: var(--color-team-name, #ffffff);
  padding: 32px 0;
  text-align: center;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text, #434455);
  margin-top: 8px;
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--bg-color-social-icons, #4d5ae5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition);
}

.team-soc-link:is(:hover, :focus) {
  background-color: var(--bg-color-social-icons-hover, #f4f4fd);
}

.team-soc-icon {
  fill: #f4f4fd;
}

/**-----------Секція 4--------------*/

.customers-titl {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  flex-basis: calc((100% - 120px) / 6);
  height: 88px;
}

.customs-icon {
  fill: currentColor;
  transition: fill var(--transition);
}

.customers-item:hover .customs-icon {
  fill: #404bbf;
}

.customers-icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: var(--customers-color-icon, #8e8f99);
  transition: border-color var(--transition);
}

.customers-icon-link:is(:hover, :focus) {
  border-color: #404bbf;
}

/**-----------Footer--------------*/
.footer {
  /*font-family: */
  background-color: var(--background-color-vision, #2e2f42);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: start;
 
}

.footer-logo-web {
  color: var(--color-logo-web, #4d5ae5);
}

.footer-logo-studio {
  color: var(--footer-logo-studio, #f4f4fd);
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-footer, #f4f4fd);
  margin-top: 16px;
}

.footer-logo {
  max-width: 264px;
  margin-right: 120px;
}

.footer-cocial {
  max-width: 208px;

  /* margin-left: 120px;
  margin-top: 0; */
}

.footer-cocial-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-team-name, #ffffff);
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  /* justify-content: center; */
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--bg-color-social-icons, #4d5ae5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition);
}

.footer-soc-link:is(:hover, :focus) {
  background-color: var(--bg-footer-social-icons-hover, #31d0aa);
}

.footer-soc-icon {
  fill: var(--color-text-footer, #f4f4fd);
}

.footer-subscribe {
 
  margin-left: auto;
}

.subscribe-text { 
  font-family: 'Roboto';
    font-style: normal;
  display: block;  
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-team-name, #ffffff);
 height: 24px;
 margin-bottom: 16px;
}

.subscribe-input {
  padding-left: 16px;
  width: 264px;
  height: 40px;
  background: var(--background-color-vision, #2e2f42);
  color: var(--color-team-name, #ffffff);
  border: 1px solid var(--color-team-name, #ffffff);
  border-radius: 4px;
}

.button-subscribe {
  font-family: 'Roboto';
    font-style: normal;
  display: flex;
    justify-items: center;
  cursor: pointer;
  border: 0;
  gap: 16px;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-team-name, #ffffff);
  background: var(--bg-color-social-icons, #4d5ae5);
  border-radius: 4px;
  transition: background-color var(--transition);
}

.button-subscribe:is(:hover, :focus) {
  background-color: var(--button-background-hover, #404bbf);
}


.footer-buton-subscribe-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
 
 
}

/**-------------Сторінка портфоліо--------------*/

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: var(--filter-btn-border, #f4f4fd);
  cursor: pointer;
  border: 1px solid var(--color-card-border, #e7e9fc);
  border-radius: 4px;
  padding: 12px 24px;
  transition: color var(--transition), background-color var(--transition),
    border-color var(--transition), box-shadow var(--transition);
}

.filter-btn:is(:hover, :focus) {
  color: #ffffff;
  background-color: var(--button-background-color, #404bbf);
  border-color: var(--button-background-color, #404bbf);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
  row-gap: 48px;
  column-gap: 24px;
}

.category-item {
  flex-basis: calc((100% - 48px) / 3);
}

.category-item-photo {
  display: block;
  transition: box-shadow var(--transition);
}

.category-item-photo:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.category-titl {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-headings, #2e2f42);
  margin: auto;

  text-align: left;
}

.category-text {
  margin: auto;
  margin-top: 8px;
  text-align: left;
}

.overlay-category {
  position: relative;
  overflow: hidden;
}

.overlay-category-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px 0 32px;
  /* overflow: auto; */
  transform: translate(0, 100%);
  transition: transform var(--transition);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: var(--bg-color-social-icons, #4d5ae5);
}

.category-item-photo:is(:hover, :focus) .overlay-category-text {
  transform: translate(0, 0);
}

.portfolio-titl-img {
  padding-top: 32px;
  padding-left: 16px;
  padding-bottom: 32px;
  border: 1px solid var(--color-card-border, #e7e9fc);
  border-top: none;
}

/**-------------Modal Window--------------*/

.modal-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 1;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition), visibility var(--transition),
    transform var(--transition);
}

.modal-box.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  
  padding: 72px 24px 24px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transition);
}

.is-hidden .modal-window {
  transform: scale(-0.2);
}

.modal-button {
  position: absolute;
  cursor: pointer;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color var(--transition), fill var(--transition);
}

.modal-button:is(:hover, :focus) {
  background-color: var(--button-background-hover, #404bbf);
  fill: white;
}

.modal-text {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;  
  margin-bottom: 16px;
  text-align: center;
}

.modal-contact {
  margin-bottom: 8px;
  height: 58px;
}

.modal-label {
  display: block;
  position: relative;
  margin-bottom: 4px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-icon-wrap {
  outline: transparent;
  position: relative;
  transition: border var(--transition), fill var(--transition);
}

.modal-icon-wrap:is(:hover, :focus-within) .line {
  opacity: 1;
}

.modal-icon-wrap:is(:hover, :focus-within) .modal-input {
  border: 1px solid var(--bg-color-social-icons, #4d5ae5);
  border-radius: 4px;
}
.modal-icon-wrap:is(:hover, :focus-within) .modal-icon{
  fill: var(--bg-color-social-icons, #4d5ae5);
}

.modal-icon-wrap:is(:hover, :focus-within) .modal-icon {
  fill: var(--bg-color-social-icons, #4d5ae5);
}

.modal-input {
  outline: transparent;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 0;
  padding-left: 40px;
  transition: border var(--transition);
}

.line {
  display: block;
  position: absolute;
  top: 50%;
  left: 38px;
  transform: translateY(-50%);

  content: '';
  display: block;

  width: 0;
  height: 18px;
  border: 1.25px solid var(--background-color-vision, #2e2f42);
  opacity: 0;
  transition: border var(--transition);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  height: 24px;
  width: 18px;
  transform: translateY(-50%);
  transition: fill var(--transition);

}

.modal-label-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #8e8f99;
}

.modal-textarea {
  padding-left: 16px;
  padding-top: 8px;
  resize: none;
  width: 360px;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border var(--transition);
}

.modal-textarea:is(:hover, :focus) {
  outline: none;
  fill: var(--bg-color-social-icons, #4d5ae5);
  border: 1px solid var(--bg-color-social-icons, #4d5ae5);
  border-radius: 4px;
}

.modal-contact-comment {
  margin-bottom: 16px;
}






.modal-accpet-wrap {
  margin-bottom: 16px;
  display: flex;
}

.modal-accept-input {}

.modal-accept-label {display: flex;
  align-items: center;justify-content: center;
  
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8E8F99;
  fill: transparent; 
} 

.modal-accept-label span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
    height: 16px; 
    border: 1px solid rgba(46, 47, 66, 0.4);
     border-radius: 2px;
     margin-right: 8px;
    }

   .modal-accept-input:checked + .modal-accept-label span{
    background: #404BBF;
    border: 1px solid #404BBF;
      border-radius: 2px;
   }

     .visually-hidden {
       position: absolute;
       width: 1px;
       height: 1px;
       margin: -1px;
       border: 0;
       padding: 0;
       white-space: nowrap;
       clip-path: inset(100%);
       clip: rect(0 0 0 0);
       overflow: hidden;
     }


        .modal-accept{margin-left: 7px;}





















/* .modal-accept-input:is(:hover, :focus) {
  background-color: var(--button-background-hover, #404bbf);
} */
.modal-form-btn {
  width: 169px;
  padding: 16px 0 16px 0;
  margin-left: 95px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 0.04em;
  background-color: var(--button-background-color, #4d5ae5);
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  transition: background-color var(--transition);
}

.modal-form-btn:is(:hover, :focus) {
  background-color: var(--button-background-hover, #404bbf);
}